body
{
	font-family: 'Noto Sans', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

div.top-nav
{
	height: 27px;
    background-color: #f6f6f7;
    font-size: 11px;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 27px;
    overflow: hidden;
}
nav
{
	background-color: #fff !important;
	height: 100px;
	line-height: 120px;
}

nav ul
{
	width: 65%;
	/*line-height: 150px;*/
	/*position: absolute;
	left: 40%;
	right: 0%;*/
}
nav ul li:hover
{
	background-color: transparent;
}

nav ul li:hover a
{
	font-weight: bold;
}

nav ul li.active
{
	font-weight: bold;
	background-color: transparent;
}
header .cd-logo
{
	width: 35%;
	color: #111;
	/*overflow: hidden;*/
}

header .cd-logo img
{
	position: absolute;
	width: 100px;
}
nav ul a
{
	color: #111;
}

.slider .indicators .indicator-item.active
{
	color: #03A9F4 !important;
}

#owl-example .owl-buttons [class*=owl-] {
    margin: -30px 0 0 0 !important;
    padding: 0 !important;
    width: 60px;
    height: 60px;
    border-radius: 0 !important;
    font-size: 40px !important;
    line-height: 60px !important;
    background: #5687bf !important;
    color: #ffffff !important;
}

#owl-example .owl-buttons .owl-prev {
    left: 0;
}

#owl-example .owl-buttons .owl-prev, #owl-example .owl-buttons .owl-next {
    position: absolute;
    top: 50%;
}

#owl-example .owl-buttons .owl-next {
    right: 0;
}

#owl-example img
{
	width: 100%;
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
	height: 550px;
}

#owl-demo .item{
  margin: 10px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

#owl-demo .item .card .card-title
{
	font-size: 15px;
}

#owl-demo .item .card .card-reveal
{
	/*opacity: 0.8;*/
}

a.item-anchor
{
	margin: 6px 0;
	background-color: transparent;
	color: #26a69a;
}

a.item-anchor:hover
{
	color: #fff;
}

#brands-slider img
{
	width: 100%;
}
footer.page-footer {
	background-color: #03A9F4;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

.top-nav ul
{
	margin-bottom: 0px;
	margin-top: 0px;
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-nav ul li
{
	display: inline;
	float: left;
}

.top-nav ul li a
{
	display: block;
    color: #7e7e7e;
    text-align: center;
    padding: 0 19px;
    text-transform: uppercase;
}

.top-nav ul li:hover a
{
	font-weight: bold;
}

.top-nav .top-nav-right
{
	text-align: right;
    z-index: 1000;
}

#mini-cart
{
	padding-right: 0px;
	padding: 0;
}

#mini-cart.dropdown
{
	display: inline-block;
    z-index: 1000;
    /*padding: 0 16px;*/
}

#mini-cart .dropdown-toggle {
    margin-right: -16px;
    padding: 0 16px;
    border: 1px solid transparent;
    border-width: 1px 1px 0;
}

.dropdown-toggle {
    display: inline-block;
    cursor: pointer;
}

.dropdown-toggle span {
    color: #7e7e7e;
}

#mini-cart .dropdown-menu {
    right: -16px;
    top: 96%;
    z-index: -1;
    padding: 0 20px;
    width: 300px;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #bbb;
}

div.small-container
{
	padding: 15px;
}

form.login-form
{
	border-top: 1px solid beige;
}

#mini-cart .dropdown-toggle {
    margin-right: -16px;
    padding: 0 16px;
    border: 1px solid transparent;
    border-width: 1px 1px 0;
}

.dropdown-toggle span {
    color: #7e7e7e;
}

nav ul li
{
    transition: none;
    float: none;
}

nav ul li a
{
    font-size: 16px;
}

.cd-main-content
{
    background-color: #ffffff;
}

@media only screen and (min-width: 1170px)
.cd-primary-nav .cd-nav-gallery .cd-nav-item img{
    position: static;
    margin-top: 0;
    height: auto;
    width: 100%;
    margin-bottom: .6em;
}

.cd-nav-item h3
{
    display: block;
    font-size: 90%;
    width: 110%;
    color: #333;
}
a.cd-nav-item
{
    min-height: 220px !important;
}

.cd-nav-item-name
{
    float: left;
}

.cd-nav-item-price
{
    float: right;
}

.offer-label
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #03A9F4;
    color: #fff;
    text-align: center;
    position: absolute;
    line-height: 70px;
    right: 0;
    top: -30px;
}
.offer-label p
{
    display: block;
}

.cd-member-bio {
    position: fixed;
    top: 0;
    right: 0;
    width: 270px;
    height: 100%;
    overflow-y: auto;
    /* smooth scrolling on mobile phones and tablets */
    -webkit-overflow-scrolling: touch;
    /* this how we move the author bio section off the canvas */
    transform: translateX(270px);
    transition-property: transform;
    transition-duration: 0.3s;
}

#result
{
    text-align: center;
}